body {
  font-family: Arial;
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 30px;
}

.heading {
    margin: 55px;
    align-self: center;
    font-size: 3em;
    color: aliceblue;
}
.sensor {
  background: rgb(150, 161, 191);
  padding: 45px 45px;
  margin: 85px ;
  width: 300px;
  border: 10px;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 10 black;
  font-size: 18px;
  display: inline;
}
.sensor:hover{
    background-color: rgb(25, 83, 200);
    transform: scale(1.1em 1.1em);
    border: 5px;
}
